<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cat's home</title>
<link href="/css/UserEntry.css" th:href="@{/css/UserEntry.css}"
	rel="stylesheet"></link>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body class="wrapper">
	<header>
		<div class="row">

			<div class="col-5">
				<a href=""> <img src="/img/rogo.jpg" width="150">

				</a>
			</div>

			<div class="col-5">
				<img src="/img/coin.png" width="50">300ポイント
			</div>
			<div class="col-2">
				<a th:href="@{/Logout}">ログアウト</a>
			</div>
		</div>
	</header>

	<div class="txt">
		<p>ホーム</p>
	</div>




	<p th:text="${count}"></p>

	<div  th:each="dto:${requestlist}">



	  <p th:text="${dto.studentName}"></p>

	  <p>



	</div>


	<p th:text="${add}"></p>

	<footer>
		<div class="row">
			<div class="col">
				<a href=""><img src="/img/ie.png"> </a>
			</div>
			<div class="col">
				<a th:href="@{/Board/Read}"><img src="/img/mrmo.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="/img/hart.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="/img/fukidashi.png"> </a>
			</div>

			<div class="col">
				<a th:href="@{/Profile/View}"><img src="/img/hito.png"> </a>
			</div>

		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>
</html>