<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cat's home</title>
<link href="/css/UserEntry.css" th:href="@{/css/UserEntry.css}"
	rel="stylesheet"></link>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body class="wrapper">
	<header>
		<div class="row">

			<div class="col-5">
				<a href=""> <img src="/img/rogo.jpg" width="150">

				</a>
			</div>

			<div class="col-5">
				<img src="/img/coin.png" width="50" class="pointImg"><p  th:text="${point}" class="point" ></p><p class="point" > ポイント</p>
			</div>
			<div class="col-2">
				<a th:href="@{/Logout}">ログアウト</a>
			</div>
		</div>
	</header>

	<div class="txt">
		<p>ホーム</p>
	</div>

		<div th:if="${count != 0}"class="center">
			<span class="badge badge-danger"><p  class="countpop">新しいリクエストが</p><p th:text="${count}" class="countpop"></p><p  class="countpop">件届いています</p></span>
		</div>

		<div th:if="${approvalName}" class="center">
			<span class="badge badge-success"><p th:text="${approvalName}" class="countpop"></p><p  class="countpop">さんを追加しました</p></span>

		</div>

		<!-- スレ１つ分 ここから-->
		<div th:each="dto:${requestlist}">
			<div class="d-flex topic p-3 mt-3 border border-success rounded">
				<!--1つ分の一番外枠-->
				<div class="box-icon ">
					<!--左 アイコン部分-->
					<img th:src="${dto.imagePath}" alt="アイコン" class="icon-image rounded img-fluid">
				</div>

				<div class="box-info">
					<!--右 情報部分-->
					<div class="row mt-2 mb-2">
						<!--右 1段目-->
						<div class="col-4">
							<p th:text="${dto.studentName}"></p>
						</div>
						<div class="col-8"></div>
					</div>
					<div class="row mt-2 mb-2">
						<!--右 2段目-->
						<div class="col-12"></div>
					</div>
					<div class="row mt-2 mb-2">
						<!--右 3段目-->
						<div class="col-7"></div>
						<div class="col-2">
						<form th:action="@{/Request/Approval}"  method="post">
							<input type="hidden" name="requestId" th:value="${dto.requestId}">
							<button type="submit" name="button" id="openModal"
								class="btn-insert btn btn-primary">追加</button>
						</form>
						</div>

						<div class="col-2">
							<button type="button" name="button"
								class="btn-delete btn btn-danger" data-toggle="modal" data-target="#blockModal" th:data-whatever="${dto.requestId}">拒否</button>

						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="blockModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">拒否確認</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">※リクエストを拒否します</div>
						<div class="modal-footer">
							<form th:action="@{/Request/Delete}" method="post" >
								<input type="hidden" name="requestId" th:value="${dto.requestId}">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">戻る</button>
								<button type="submit" class="btn btn-primary">拒否する</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	<footer>
		<div class="row">
			<div class="col">
				<a th:href="@{/Home}"><img src="/img/ie.png"> </a>
			</div>
			<div class="col">
				<a th:href="@{/Board/Read}"><img src="/img/mrmo.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="/img/hart.png"> </a>
			</div>

			<div class="col">
				<a th:href="@{/Talk/Select}"><img src="/img/fukidashi.png"> </a>
			</div>

			<div class="col">
				<a th:href="@{/Profile/View}"><img src="/img/hito.png"> </a>
			</div>

		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>
</html>