<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="wrapper">
	<header>
		<div class="row">

			<div class="col-5">
				<a href=""> <img src="rogo.jpg" width="150">

				</a>
			</div>

			<div class="col-5">
				<img src="coin.png" width="50">300ポイント
			</div>
			<div class="col-2">
				<a href="">ログアウト</a>
			</div>
		</div>
	</header>

	<div class="txt">
		<p>チャット</p>
	</div>
	<div class="center">
		<span class="badge badge-danger">新しいリクエストが３件届いています！</span>

	</div>



	<!-- スレ１つ分 ここから-->
	<div>
		<div class="d-flex topic p-3 mt-3 border border-success rounded">
			<!--1つ分の一番外枠-->
			<div class="box-icon ">
				<!--左 アイコン部分-->
				<img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid">
			</div>

			<div class="box-info">
				<!--右 情報部分-->
				<div class="row mt-2 mb-2">
					<!--右 1段目-->
					<div class="col-4">
						<p>名前</p>
					</div>
					<div class="col-8"></div>
				</div>
				<div class="row mt-2 mb-2">
					<!--右 2段目-->
					<div class="col-12"></div>
				</div>
				<div class="row mt-2 mb-2">
					<!--右 3段目-->
					<div class="col-8">
						<button type="button" name="button" id="openModal"
							class="btn-insert btn btn-primary">追加</button>
					</div>



					<div class="col-4">
						<button type="button" name="button"
							class="btn-delete btn btn-danger">拒否</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- スレ１つ分 ここまで for文とかで、スレ分ぐるぐる回してちょ-->
	<!-- スレ１つ分 ここから-->
	<div>
		<div class="d-flex topic p-3 mt-3 border border-success rounded">
			<!--1つ分の一番外枠-->
			<div class="box-icon ">
				<!--左 アイコン部分-->
				<img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid">
			</div>

			<div class="box-info">
				<!--右 情報部分-->
				<div class="row mt-2 mb-2">
					<!--右 1段目-->
					<div class="col-4">
						<p>名前</p>
					</div>
					<div class="col-8"></div>
				</div>
				<div class="row mt-2 mb-2">
					<!--右 2段目-->
					<div class="col-12"></div>
				</div>
				<div class="row mt-2 mb-2">
					<!--右 3段目-->
					<div class="col-8">
						<button type="button" name="button" id="openModal"
							class="btn-insert btn btn-primary">追加</button>
					</div>



					<div class="col-4">
						<button type="button" name="button"
							class="btn-delete btn btn-danger">拒否</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- スレ１つ分 ここまで for文とかで、スレ分ぐるぐる回してちょ-->

	<div class="modal fade " tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content login-first-msg">
	      <div class="modal-body">
	        <p>今日も来てくれてありがとう！</p>
					<p>連続ログインボーナス：○日目</p>
					<p>○○ポイントGET！</p>
					<p>※５日到達すると１日目から再開されます</p>
	      </div>
	      <div class="text-center pb-3">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
	      </div>
	    </div>
	  </div>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script>
		$('div.modal').modal('show')
	</script>



	<footer>
		<div class="row">
			<div class="col">
				<a href=""><img src="ie.png"> </a>
			</div>
			<div class="col">
				<a href=""><img src="mrmo.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="hart.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="fukidashi.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="hito.png"> </a>
			</div>

		</div>
	</footer>
</body>
</html>
</body>
</html>
