
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat's Login</title>
</head>
<body>
   <h1>ログイン</h1>
   <div th:if="${msg}">
		<p th:text="${msg}"class="text-danger err"></p>
	</div>
   
	<p id="msg" style="color:red"></p>
	<p id="result" style="color:red"></p>
	<p id="Pmsg" style="color:red"></p>
	
   <form th:action="@{/auth}" method="post"  role="form" th:object="${LoginFrom}">
        <div th:if="${error}" style="color:red">
            <p>ログインできませんでした。やりなおしてください。</p>
        </div>
        <p>学籍番号</p>
        <input type="text" placeholder="学籍番号" id="studentId" name="studentId" />
        <p>パスワード</p>
        <input type="password" placeholder="PASSWORD" id="password" name="password" /><br/>
        
        <input type="submit" id="login" value="ログイン" onclick ="return check()">
   </form>
</body>
</html>

<script>	

var hako = "";
var Pmsg = "";
//	端末がGeoLocation APIに対応しているかの判定
	//	対応している
	if( navigator.geolocation ){
		
		//	現在地を取得
		navigator.geolocation.getCurrentPosition(
			//	第1引数の取得に成功した時
			function( position ){
				
				var data = position.coords;

				//	緯度
				var lat = 33.583561;//data.latitude;
				//	経度
				var lng = 130.421263;//data.longitude;
			
				//	学校範囲指定
				if (lat > 33.583163 && lat < 33.585223 &&
	                	lng > 130.420642 && lat < 130.421951) {
	                	hako = "key";
	            	} else {
	            		hako = "path";
	            	}
	        	},
	     	//	第2引数の取得に失敗した時
	        	function (error) {
	            	//	エラーメッセージ
	            	var errorMessage = {
	                	0: "原因不明のエラーが発生しました。",
	                	1: "位置情報の取得が許可されていません。",
	                	2: "電波状況などで位置情報が取得できませんでした。",
	                	3: "位置情報の取得に時間がかかり過ぎてタイムアウトしました。",
	            	};
	            	document.getElementById("result").textContent = errorMessage[error.code];
	        	}
	    	);
		}else {
	    	//	対応していない
	   		document.getElementById("msg").textContent="Geolocation APIに対応していない";
		}
	
	
//	フォーム判定
	function check(){
	
	//	範囲内
	if(hako == "key"){ 
		return true;
		
	}
	//	範囲外
	else if(hako == "path"){ 
		document.getElementById("Pmsg").textContent = "麻生学区の範囲内でログインしてください！";
		return false; 
	}
	// 	位置情報の許可がない時
	else{
		document.getElementById("Pmsg").textContent = "位置情報を許可してログインしてください";
		return false; 
	}

}
	
</script>
