<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body class="wrapper">
	<header>
		<div class="row">

			<div class="col-5">
				<a href=""> <img src="rogo.jpg" width="150">

				</a>
			</div>

			<div class="col-5">
				<img src="coin.png" width="50">300ポイント
			</div>
			<div class="col-2">
				<a href="">ログアウト</a>
			</div>
		</div>
	</header>
	<div class="txt">
		<p>チャット</p>
	</div>

	<!-- 一人分のチャット -->

	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
				<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>
		<div class="col-9">
			<h3>バラクオバマ</h3>
			yes we can!
		</div>
		</a>
	</div>

	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>宮崎大地</h3>
			俺のまいやけん、離れんで
		</div>
	</div>
	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>えりか</h3>
			昨日はありがとう。おーくんすごかっ...
		</div>
	</div>
	<!-- ここまでが一人分 -->

	<!-- 一人分のチャット -->

	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
				<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>
		<div class="col-9">
			<h3>バラクオバマ</h3>
			yes we can!
		</div>
		</a>
	</div>

	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>宮崎大地</h3>
			俺のまいやけん、離れんで
		</div>
	</div>
	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>えりか</h3>
			昨日はありがとう。おーくんすごかっ...
		</div>
	</div>
	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->

	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
				<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>
		<div class="col-9">
			<h3>バラクオバマ</h3>
			yes we can!
		</div>
		</a>
	</div>

	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>宮崎大地</h3>
			俺のまいやけん、離れんで
		</div>
	</div>
	<!-- ここまでが一人分 -->
	<!-- 一人分のチャット -->
	<div class="chat-list row">
		<a href="chat.html"></a><!-- このリンククリック範囲が親<div>まで広がる -->
		<div class="box-icon col-3 center">
			<!--左 アイコン部分-->
			<a href="prof.html"><img src="icon.jpg" alt="アイコン" class="icon-image rounded img-fluid"></a>
		</div>

		<div class="col-9">
			<h3>えりか</h3>
			昨日はありがとう。おーくんすごかっ...
		</div>
	</div>
	<!-- ここまでが一人分 -->














	<footer>
		<div class="row">
			<div class="col">
				<a href=""><img src="ie.png"> </a>
			</div>
			<div class="col">
				<a href=""><img src="mrmo.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="hart.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="fukidashi.png"> </a>
			</div>

			<div class="col">
				<a href=""><img src="hito.png"> </a>
			</div>

		</div>
	</footer>
</body>
</html>
