<!DOCTYPE html>
<html>
<head>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="t-center">
		<form action="TwoCheckServlet" method="POST">
			<img border="0" src="rogo.jpg">
			<p>入力された番号はすでに使われています。</p>
			<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
				rel="stylesheet">

			<div class="txbox">
				<input type="text" class="usericon" placeholder="&#xf2bb; 学籍番号を入力">
			</div>
			<div class="cp_iptxt">

				<!--  <input type="text" placeholder="学籍番号を入力">-->
				<!-- <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i> -->
			</div>

			<p>学籍番号あてに認証コードを送ります</p>
			<div class="stylebutton">
				<input type="submit" value="戻る" class="button"> <input
					type="submit" value="送信する" class="button">
			</div>


		</form>
	</div>
</body>
</html>