@charset "UTF-8";

.cp_iptxt {
	position: relative;
}

.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}

/** 繝�繧ｭ繧ｹ繝医ヵ繧｣繝ｼ繝ｫ繝峨↓繧ｫ繝ｼ繧ｽ繝ｫ蠖薙◆縺｣縺溘→縺阪�ｮ蜃ｦ逅� **/
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
/** 繧｢繧､繧ｳ繝ｳ繧貞ｷｦ遶ｯ縺ｫ陦ｨ遉ｺ縺吶ｋ縺ｮ縺ｧ縲√◎縺ｮ蛻�繧貞ｷｦ蛛ｴ菴咏區繧堤ｩｺ縺代ｋ **/
.cp_iptxt input[type=text] {
	padding-left: 40px;
}

/** 繧｢繧､繧ｳ繝ｳ縺ｮ菴咲ｽｮ繧貞虚縺九☆ **/
.cp_iptxt i {
	position: absolute;
	top: 10px;
	left: 355px;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}

.cp_iptxt input[type=text]:focus+i {
	color: #da3c41;
}

.stylebutton {
	text-align: center;
}

.button {
	display: inline-block;
	border-radius: 5%; /* 隗剃ｸｸ       */
	font-size: 18pt; /* 譁�蟄励し繧､繧ｺ */
	text-align: center; /* 譁�蟄嶺ｽ咲ｽｮ   */
	cursor: pointer; /* 繧ｫ繝ｼ繧ｽ繝ｫ   */
	padding: 25px 25px; /* 菴咏區       */
	background: #cccccc; /* 閭梧勹濶ｲ     */
	color: #1a1aff; /* 譁�蟄苓牡     */
	line-height: 1em; /* 1陦後�ｮ鬮倥＆  */
	transition: .3s; /* 縺ｪ繧√ｉ縺句､牙喧 */
	box-shadow: 6px 6px 3px #666666; /* 蠖ｱ縺ｮ險ｭ螳� */
	border: 2px solid #cccccc; /* 譫�縺ｮ謖�螳� */
	margin-right: 100px;
	width: 150px;
}

.button:hover {
	box-shadow: none; /* 繧ｫ繝ｼ繧ｽ繝ｫ譎ゅ�ｮ蠖ｱ豸亥悉 */
	color: #cccccc; /* 閭梧勹濶ｲ     */
	background: #1a1aff; /* 譁�蟄苓牡     */
}

p {
	text-align: center;
}

.t-center {
	text-align: center;
}

.usericon {
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
}

input[type=text] {
	width: 80%;
	height: 40px;
	margin: 40px 3%;
	font-size: 1.5rem;
}

.wrapper {
	height: 100%;
	min-height: 100vh;
	position: relative; /*竊千嶌蟇ｾ菴咲ｽｮ*/
	padding-bottom: 120px; /*竊診ooter縺ｮ鬮倥＆*/
	box-sizing: border-box; /*竊仙�ｨ縺ｦ蜷ｫ繧√※min-height:100vh縺ｫ*/
}

footer img {
	width: 50px;
}

footer {
	width: 100%;
	background-color: rgba(238, 238, 238, 0.9);
	text-align: center;
	padding: 30px 0;
	position: fixed; /*竊千ｵｶ蟇ｾ菴咲ｽｮ*/
	bottom: 0; /*荳九↓蝗ｺ螳�*/
	z-index: 999;
}

.explain {
	border: 2px solid #000000;
	width: auto;
	height: auto;
}

.txt {
	background-color: #66ccff;
}

.icon-image {
	width: 100px;
}

.d-in-block {
	display: inline-block;
}

.topic {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #e0e0e0;
}

.d-flex {
	display: flex;
}

.box-icon {
	width: 30%;
}

.box-info {
	width: 70%;
}

/*button繧ｿ繧ｰ縺ｯ荳�蠕九�∵ｨｪ蟷�150px縺ｧ隗剃ｸｸ */
button {
	border-radius: 10px;
}

/* 繧ｫ繝�繧ｴ繝ｪ繝ｼ繝懊ち繝ｳ縺ｮ繝�繧ｶ繧､繝ｳ險ｭ螳� */
.btn-category1 {
	background-color: #629cff;
	border: 1px solid #629cff;
	color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 0;
}

.btn-category2 {
	background-color: #FF99FF;
	border: 1px solid #FF99FF;
	color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 0;
}

.btn-category3 {
	background-color: #FF9900;
	border: 1px solid #FF9900;
	color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 0;
}

.btn-category4 {
	background-color: #FF3300;
	border: 1px solid #FF3300;
	color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 0;
}

.btn-category5 {
	background-color: #33CC99;
	border: 1px solid #33CC99;
	color: #f1f1f1;
	padding-top: 10px;
	padding-bottom: 0;
}

/* 蜑企勁繝懊ち繝ｳ縺ｮ繝�繧ｶ繧､繝ｳ險ｭ螳� */
.btn-delete {
	background-color: #a80a0a;
	border: 1px solid #a80a0a;
	color: #f1f1f1;
}

.topiclist {
	padding: 110px 0;
}

.serchs {
	text-align: right;
}

input[class=serch] {
	width: 35%;
	font-size: 1rem;
}

.txt {
	font-size: 150%;
	text-align: center;
}

.bg-primary {
	width: 20%;
	padding: 10px;
}

.border-warning {
	width: 45%;
}

.title {
	margin-left: 3%;
}

.bring {
	text-align: left;
}

.bord-title {
	margin-top: 10px !important;
}
/*豕ｨ諢丈ｺ矩��縺ｮ縺ｨ縺薙ｍ */
.explain {
	margin: 10px 0;
	margin-left: 10px;
	margin-right: 10px;
}

/*繧ｻ繝ｬ繧ｯ繝医�懊ち繝ｳ縺ｮ險ｭ螳�*/
.pldown {
	margin: auto;
	width: 80% !important;
	margin-top: 10px !important;
	margin-left: 3% !important;
	margin-bottom: 20px !important;
}
/*繧ｳ繝｡繝ｳ繝医お繝ｪ繧｢縺ｮ險ｭ螳�*/
.chat {
	overflow: auto;
	height: 500px;
	padding: 0 0 0 50px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #000000;
}

.chat p {
	text-align: left
}

@media screen and (max-width:600px) {
	/*縲�逕ｻ髱｢繧ｵ繧､繧ｺ縺�600px莉･荳九�ｯ縺薙％繧定ｪｭ縺ｿ霎ｼ繧�縲�*/
	body {
		font-size: 0.5rem;
	}
	button {
		width: 80px;
	}
}

input[class=serch] {
	width: 35%;
	font-size: 1rem;
}

#page {
	position: fixed; /*菴咲ｽｮ繧貞崋螳�*/
	bottom: 110px;
	right: 20px; /*蜿ｳ縺九ｉ�ｼ抵ｼ壬x*/
}

#page img {
	z-index: 999; /*驥阪↑繧翫�ｮ鬆�逡ｪ繧呈怙荳贋ｽ阪↓*/
	width: 60px; /*讓ｪ蟷�*/
	height: 60px; /*邵ｦ蟷�*/
	cursor: pointer; /*繧ｫ繝ｼ繧ｽ繝ｫ繧呈欠縺ｫ縺吶ｋ*/
}

.center {
	text-align: center;
}

/* 縺阪▲縺九¢繧ｬ繝√Ε縺ｮ繝壹�ｼ繧ｸ險ｭ螳� start ***********************************/
select.gacha-category {
	width: 500px !important;
}

/* 陦ｨ遉ｺ繧帝撼陦ｨ遉ｺ縺ｫ縺吶ｋ險ｭ螳� */
.passive {
	display: none;
}

.fadein {
	opacity: 1;
	transform: translateY(-150px);
	transition: all 1s;
}

.fadeout {
	opacity: 0;
	transform: translateY(150px);
	transition: all 1s;
}

.gacha-message {
	position: relative;
	width: 100%;
	height: 100%;
}

.img-box {
	position: relative;
	/*top: -150px;*/
	/*position: relative;
	top: -250px;
	*/
	/*
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
		*/
}

/* 縺阪▲縺九¢繧ｬ繝√Ε縺ｮ繝壹�ｼ繧ｸ險ｭ螳� e.n.d ***********************************/
@media screen and (max-width:600px) {
	/*縲�逕ｻ髱｢繧ｵ繧､繧ｺ縺�600px莉･荳九�ｯ縺薙％繧定ｪｭ縺ｿ霎ｼ繧�縲�*/
	body {
		font-size: 0.5rem;
	}
	button {
		width: 80px;
	}
}

.chat-list {
	border-bottom: 1px solid #007bff;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	z-index: 1;
}

.chat-list a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
	z-index: 2;
}

.comment {
	float: left;
	padding-right: 100px;
}

.chat-list .box-icon a {
	position: relative; /*縲悟挨繝ｪ繝ｳ繧ｯ縲阪�ｯ譎ｮ騾壹↓驟咲ｽｮ縺吶ｋ縺溘ａ */
	z-index: 3; /* 繝ｪ繝ｳ繧ｯ隕∫ｴ�縺ｮ驥阪↑繧企��繧剃ｸ翫↓縺吶ｋ縺溘ａ */
}

/* 繝√Ε繝�繝井ｸ�隕ｧ逕ｻ髱｢縺ｮ險ｭ螳� e.n.d *************************************/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Avenir', 'Helvetica, Neue', 'Helvetica', 'Arial';
}

/* 繝｢繝ｼ繝�繝ｫCSS */
.modalArea {
	display: none;
	position: fixed;
	z-index: 10; /*繧ｵ繧､繝医↓繧医▲縺ｦ縺薙％縺ｮ謨ｰ蛟､縺ｯ隱ｿ謨ｴ */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modalBg {
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	max-width: 500px;
	padding: 10px 30px;
	background-color: #fff;
}

.closeModal {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
}

/* 莉･荳九�懊ち繝ｳ繧ｹ繧ｿ繧､繝ｫ */
button {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #282828;
	border-radius: 2px;
	cursor: pointer;
}

#openModal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/**Chat縺ｮCSS **/
/*莉･荳九�≫蔵閭梧勹濶ｲ縺ｪ縺ｩ*/
.line-bc {
	padding: 20px 10px;
	max-width: 600px;
	margin: 15px auto;
	text-align: right;
	font-size: 14px;
}

/*莉･荳九�≫贈蟾ｦ蛛ｴ縺ｮ繧ｳ繝｡繝ｳ繝�*/
.balloon6 {
	width: 100%;
	margin: 10px 0;
	overflow: hidden;
}

.balloon6 .faceicon {
	float: left;
	margin-right: -50px;
	width: 40px;
}

.balloon6 .faceicon img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.balloon6 .chatting {
	width: 100%;
	text-align: left;
}

.says {
	display: inline-block;
	position: relative;
	margin: 0 0 0 50px;
	padding: 10px;
	max-width: 250px;
	border-radius: 12px;
	background: #edf1ee;
}

.says:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 3px;
	left: -19px;
	border: 8px solid transparent;
	border-right: 18px solid #edf1ee;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}

.says p {
	margin: 0;
	padding: 0;
}

/*莉･荳九�≫造蜿ｳ蛛ｴ縺ｮ邱代さ繝｡繝ｳ繝�*/
.mycomment {
	margin: 10px 0;
}

.mycomment p {
	display: inline-block;
	position: relative;
	margin: 0 10px 0 0;
	padding: 8px;
	max-width: 250px;
	border-radius: 12px;
	background: #30e852;
	font-size: 15px:
}

.mycomment p:after {
	content: "";
	position: absolute;
	top: 3px;
	right: -19px;
	border: 8px solid transparent;
	border-left: 18px solid #30e852;
	-webkit-transform: rotate(-35deg);
	transform: rotate(-35deg);
}

.chatsend {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.pointImg {
	float: left;
	margin-right: 10px;
}

.point {
	float: left;
	margin-top: 15px;
}

.serch-bottom {
	margin-left: 15px;
}
.talk-list{
	margin:110px 0;
}
.messlist{
	margin:110px 0;
}
.titleColor{
	color:pink;
}
.titleColor:hover{
	color:pink;
}
.blueTitle{
	color:blue;
}
.pinkTitle{
	color:pink;
}
.entry{
	padding:5px 5px;
}
/* pop 関係　*/
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin: auto;
  pointer-events: none;
}

.modal-content {
    pointer-events: all;
}

.login-first-msg {
    background: -moz-linear-gradient(top, #f48776, #df4444);
    background: -webkit-linear-gradient(top, #f48776, #df4444);
    background: linear-gradient(to bottom, #f48776, #df4444);
    color: white;

		border-radius: 35px;
}

