@charset "UTF-8";

h1 {
	margin: auto;
	max-width: 1070px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.err {
	margin: auto;
	max-width: 1070px;
	padding-bottom: 50px;
	font-weight: bold;
}

.file {
	margin-bottom: 30px;
}

.hobby {
	margin-top: 25px;
}

.sex {
	margin-left: 30px;
}

form.input {
	margin: auto;
	max-width: 1070px;
	margin-bottom: 130px;
}

span {
	margin-left: 15px;
}

.back {
	width: 40%;
	float: left;
	margin-right: 10px;
	margin-top: 50px;
	cursor: pointer;
	cursor: hand;
	margin-bottom: 200px;
}

.entry {
	width: 40%;
	float: right;
	margin-top: 50px;
	cursor: pointer;
	cursor: hand;
}

.countpop {
	float: left;
	margin: 0;
	padding: 7px;
}

.pointImg {
	float: left;
	margin-right: 10px;
}

.point {
	float: left;
	margin-top: 15px;
}
.box-icon {
	width: 30%;
}
.icon-image {
    width: 100px;
}
.rounded {
    border-radius: .25rem!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}