@charset "UTF-8";
h1{
	margin: auto;
	max-width: 1070px;
	padding-top:30px;
	padding-bottom:60px;
}
.file{
	margin-bottom:30px;
}
.hobby{
	margin-top:25px;
}
form.input{
	margin: auto;
	max-width: 1070px;
}
span{
	margin-left:15px;
}

